[Desktop Entry]
Name=CurseForge
Exec=/home/brett/.local/share/AppImage/CurseForge.AppImage %u
Icon=/home/brett/.local/share/icons/CurseForge.png
Terminal=false
Type=Application
Categories=Game;
